*{
	box-sizing: border-box;
}

body{
	background-color: gray;
	font-family: serif;
	font-weight: bold;
}

h1{
	text-align: center;
	color: yellow;
}

/*Styles for  sections*/
section{
	margin-bottom: 15px;
}

/*Base sectioning style*/
#div1, #div2, #div3{
	border: solid 1px black;
	height: 200px;
	padding: 70px 20px 20px 20px;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	font-size: 125%;
	text-align: justify;

}

#div1{
	background-color: green;
}

#div2{
	background-color: blue;
}

#div3{
	background-color: white;
}

/*Styles for the paragraph elements*/
p{
	position: absolute;
	border: 1px solid black;
	right: 0px;
	top: 0px;
	margin: 0;
	font-size: 175%;
	padding: 10px;
}

#section1 div p{
	background-color: violet;
}

#section2 div p{
	background-color: purple;
}

#section3 div p{
	background-color: orange;
}




/*Css for large devices*/
@media (min-width: 992px){
	section{
		width: 33.33%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	#section1, #section2{
		float: left;
		width: 50%;
		
	}

	#section3{
		float: left;
		width: 100%;
	}

	#div3{
		width: 95%;
	}
}